*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.enemy-card {
  width: 180px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 20px;
  font-family: "Comic Sans MS", sans-serif;
  text-align: center;
  background: white;
}

.enemy-icon {
  font-size: 65px;
  margin-bottom: 10px;
}

.enemy-level {
  margin-bottom: 15px;
}

.enemy-row {
  margin-top: 6px;
}

.label {
  font-weight: bold;
}

.container{
  display: flex;

}

.container > section{
  border: 1px solid black;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talon-container{
  flex-direction: row;
  gap: 30px
}

.center-container{
  flex-direction: column;
  gap: 30px;
}

.right-container{
  flex-direction: column;
  gap: 30px;
}

.deck{
  border: 3px solid black;
  width: 180px;
  height: 250px;
  border-radius: 20px;
}

button{
  border: 3px solid black;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  background-color: white;
}
